
/* Reset from Josh Comeau
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/*End of Reset */

:root {

    --primary-400: hsl(172, 67%, 45%);
    --primary-800: hsl(183, 100%, 15%);
    --primary-200: hsl(172, 67%, 75%);
    --accent-600: hsl(186, 14%, 43%);
    --acent-400: hsl(184, 14%, 56%);
    --accent-200: hsl(185, 41%, 84%);
    --accent-100: hsl(189, 41%, 92%);

    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 24px;
}
body {
    background: var(--accent-200);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#logo {
  
}

#white-container {
    background: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
    /* margin-top: max(20vh, 90px); */
    min-height: fit-content;
    width: min(700px, 90%);
    min-width: fit-content;
    border-radius: 3%;
    place-items: center;
}

@media (max-width: 400px) {
  #white-container {
    /* margin-top: 90px; */
  }
}

#inputs, #outputs {
    width: 90%;
    margin: auto;
    padding: 20px;
    height: 90%;
}

#inputs {
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
  gap: 30px;
}

input {
  width: 100%;
  background: var(--accent-100);
  border: none;
  border-radius: 5px;
  color: var(--primary-800);
  text-align: right;
}

.dollar-icon, .person-icon {
  position: absolute;
  margin: 10px;
}


#percent-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 10px;
  font-size: 0.75rem;
}

.percent {
  background-color: var(--primary-800);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.percent:hover, .percent:focus {
  background-color: var(--primary-200);
  color: var(--primary-800);
}

.percent[selected="true"] {
  background-color: var(--primary-200);
  color: var(--primary-800);
}

#custom-tip {
  background: var(--accent-100);
  color: var(--primary-800);
  border: none;
}

#custom-tip:hover, #custom-tip:focus, #custom-tip:active {
  border: 2px solid var(--primary-400);
  outline: none;
}

#custom-dollar-sign {
  display: none;
}

#number-of-people, #bill {
  position: relative;
}

.error-message {
  color: rgb(226, 88, 88);
  font-size: 0.45rem;
  position: absolute;
  right: 0px;
  margin-right: 0px;
  top: 3px;
  width: 18ch;
}



#outputs {
    background-color: var(--primary-800);
    border-radius: 3%;
    display: grid;
    justify-self: center;
    align-self: center;
    position: relative;
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
}

#calculation-error-message {
  background-color: var(--accent-200);
  color: rgb(226, 88, 88);
  position: absolute;
  display: none;
  width: 95%;
  height: 95%;
  border-radius: 3%;
  inset: 0;
  margin: auto;
  padding: 10px;
  text-align: center;
  border: 3px solid rgb(226, 88, 88);
}



.per-person {
    font-size: 0.4rem;
    color: var(--accent-200);
}

.title, .output-title {
    font-size: 0.6rem;
}

.title {
    color: var(--primary-800);
}

.output-title {
    color: white;
}

.output-number {
    color: var(--primary-400);
    font-size: 1.5rem;
}

#tip-per-person {
  grid-row: 1/2;
  display: grid;
  grid-template-areas: 
  'title number '
  'unit number';
  gap: 0px;
  justify-content: space-between;
}

#tip-per-person > .output-title {
  grid-area: title;
}

#tip-per-person > .per-person {
  grid-area: unit;
}

#tip-per-person > .output-number {
  grid-area: number;
}

#total-per-person {
  grid-row: 3/4;
  display: grid;
  grid-template-areas: 
  'title number '
  'unit number';
  gap: 0px;
  justify-content: space-between;
}

#total-per-person > .output-title {
  grid-area: title;
}

#total-per-person > .per-person {
  grid-area: unit;
}

#total-per-person > .output-number {
  grid-area: number;
}

.per-person {
    align-self: flex-start;
    justify-self: flex-start;
}

.output-title {
  align-self: flex-end;
  justify-self: flex-end;
}

.output-number {
  justify-content: flex-end;
}

#reset {
    grid-row: 5/6;
    height: min-content;
    background-color: var(--primary-400);
    color: var(--primary-800);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reset:hover, #reset:focus {
  background-color: var(--primary-200);
  color: var(--primary-800); 
}















.attribution {
     font-size: 11px; 
    text-align: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    color: var(--accent-200);
    background: var(--primary-800);
    border: 2px solid var(--accent-100);
}
.attribution a { 
    color: var(--primary-200);
 }